
<div class="cointainer mt-6">
  <div class="columns is-centered">
    <div class="column box is-one-third">
      <h1 class="title has-text-centered">
        Typing Challenge
      </h1>
      <span class="has-text-centered" *ngFor="let letter of randomText.split(''); let i = index;"
         [ngClass]="getClass(letter, inputText[i])">{{ letter }}</span>
      <div class="field">
        <input type="text" class="input" (input)="onTextChanged($any($event.target).value)">
      </div>
      <h1 *ngIf="randomText === inputText" class="box title has-text-centered">SUCCESS</h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
